@use "../base";

.sidebar-container {
  $sidebar-padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  max-width: 100px;
  padding: $sidebar-padding 0px;
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.logo-small {
  width: 35px;
  height: 35px;
}

.sidebar-nav {
  padding: 50px 0px;
}

.sidebar-nav-item {
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 0px;

  &.active,
  &:hover {
    background-color: base.$blue-light;
    cursor: pointer;
    transition: 0.3s;
  }

  svg {
    padding: 16px;
  }
}

.sidebar-footer {
  margin-top: auto;

  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }

  img {
    border-radius: 50%;
  }
}
