.plans-container {
  > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    li.plan-item {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      color: #333;
      border-radius: 10px;
      max-width: 210px;
      padding: 25px;

      h3 {
        font-size: 24px;
        font-weight: 700;
      }

      ul.features-list {
        margin: 25px 0px;

        li {
          display: flex;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 10px;

          span {
            margin: 0px 0px 12px 12px;
          }
        }
      }

      .plan-price {
        color: #181059;
        font-size: 28px;
        font-weight: 700;

        &.active {
          color: #fff;
        }
      }

      &.active {
        background-color: #46b13d;
        color: #fff;
      }

      .current-plan-text {
        font-size: 20px;
        font-weight: 500;
        margin: 20px 0px;
        color: #1c7714;
        text-align: center;
      }

      > button {
        margin: 20px 0px;
        width: 100%;
      }
    }
  }
}
